.Calculator-Box{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 5px solid red;
}

.one,.two,.three,.four,.five,.six,.seven,.eight,.nine{
    background-color: #505050;
    color: white;
    font-size: 100px;
    border-radius: 40%;
    border-color: #505050;
}
.multiply,.subtract,.addition{
    background-color: #FF9500;
    color: white;
    font-size: 100px;
    border-radius: 200px;
}